/* fonts */
@font-face {
  font-display: swap;
  font-family: "Play";
  font-weight: 700;
  src: url(../fonts/Play-Bold.ttf) format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Play";
  font-weight: 400;
  src: url(../fonts/Play-Regular.ttf) format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}
/* colors */
:root {
  --beauty-landing-2-c-1: #011c44;
  --beauty-landing-2-c-3: #4a4a4a;
  --beauty-landing-22: #2b7fff;
  --beauty-landing-2-background: #fff;
  --background-color-header: rgba(255, 255, 255, 0.25);
}
/* base */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: var(--beauty-landing-2-background);
  color: var(--beauty-landing-2-c-1);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
.logo-text {
  min-width: 74px;
  color: var(--beauty-landing-22);
  font-family: Play;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 95.455% */
  text-transform: capitalize;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* container */
.container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.address-icon {
  align-items: center;
}
/* Link */
.link {
  color: var(--beauty-landing-2-c-1);
  transition: color 0.3s;
  text-decoration: none;
}

.link:hover {
  color: var(--beauty-landing-22);
}
/* text */
.text_title-section {
  font-family: Play;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.text_title-section span {
  color: var(--beauty-landing-22);
}

.text__400-small {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}
.text__600-normal {
  color: var(--beauty-landing-2-background);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
.text__400-hero-section {
  color: var(--beauty-landing-2-c-1);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.text__color-2c3 {
  color: var(--beauty-landing-2-c-3);
}

/* header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 32px;
  background-color: var(--background-color-header);
  backdrop-filter: blur(5px);
}
.header__container {
  display: flex;
  align-items: center;
  gap: 40px;
  height: 106px;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 240px;
  flex-grow: 1;
}

.header__menu {
  display: flex;
  gap: 56px;
  justify-content: center;
  align-items: center;
}

.header__icon {
  display: flex;
  align-items: center;
  gap: 32px;
}

/* Hero-section */
.hero-section__title {
  color: var(--beauty-landing-22);
  font-family: Play;
  font-size: 140px;
  font-style: normal;
  font-weight: 700;
  line-height: 114px;
  text-transform: capitalize;
  margin: 0;
  padding: 16px 0 40px;
  max-width: 529px;
}
.hero-section__container {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.hero-section__container-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.hero-section__container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  max-width: 238px;
}
.hero-section__button {
  display: flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 32px;
  background: var(--beauty-landing-22);
}
.hero-section {
  padding: 100px 0px 200px 100px;
  width: 100%;
  height: auto;
  background: linear-gradient(
      89deg,
      #fff 30.62%,
      rgba(255, 255, 255, 0.85) 41.31%,
      rgba(255, 255, 255, 0.19) 58.65%,
      rgba(255, 255, 255, 0) 72.78%
    ),
    url(../images/image-1576.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
/* advantage section */

/* inform-section */
.inform-section {
  padding: 16px 0;
}

/*  */
